.headerElement {
    background-color: var(--lightBlue);
    min-height: 100vh;
    margin-bottom: 8rem;
}

.wordCarousel {
    font-size: 36px;
    font-weight: 100;
    overflow: hidden;
    position: relative;
    height: 45px;
    /*
    INNECESARIO
    padding-top: 10px;
    margin-top: -10px; 
    */
}

.liStyled {
    font-family: Serif;
    color: var(--blue);
    font-weight: 1000;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
}

.flip3 {
    animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip3 {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}