.spc-arnd {
    justify-content: space-around;
}

.spc-btw {
    justify-content: space-between;
}

.navbar_links {
    width: 600px
}

.container {
    position: fixed;
    min-width: 100vw;
    min-height: 7vh;
    background-color: white;
}