.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--lightBlue);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  color: var(--blue);
}

a {
  color:var(--blue);
  text-decoration: none;

}

ul {
  list-style-type: none;
  margin-block: 0px px;
  padding-inline-start: 0px;
}

.fl-cl-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fl-rw-ctr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fl-rw-spc-btw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fl-cl-spc-btw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

:root {
  --blue: rgb(48, 66, 105);
  --lightBlue: rgb(145, 190, 212);
  --lightBlueGray: rgb(217, 232, 245);
  --white: rgb(255, 255, 255);
  --orange: rgb(242, 97, 1);
}